<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DNA Sequencing</title>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
</head>
    <body>

        <h3>Text to DNA Sequence Converter</h3>

        <div id="dnaInfo">
            <p>
                DNA is comprised of four nucleotides, A,C, G, and T.
            </p>
            <p>
                What this website does is convert a text file of your choice to a DNA sequence,
                then compare it to known virus DNA sequences.
                <br/>
                Depending on how great the similarities are,
                it will tell you if your text document has a "virus" or not.
            </p>
        </div>

        <form action="/dropdown" method="post">
            <select name="document">
                <option selected disabled>Example documents</option>
                <option value="ArtificialLight.rtf">Artifical Light</option>
                <option value="IBM.rtf">IBM</option>
                <option value="LoremIpsum.txt">Lorem Ipsum</option>
                <option value="NitroExplosives.rtf">Explosives</option>
                <option value="AtlanticTelegraph.rtf">Atlantic Telegraph</option>
            </select>
            <button type="submit">Choose document</button>
        </form>

        <form action ="/upload" enctype="multipart/form-data" method="post">
            <input type="file" name="document"/>
            <br/>
            <button type="submit">Upload a document</button>
        </form>

        <form id="pasteBox" action="/paste" method="post">
            <input type="text" name="document"/>
            <br/>
            <button type="submit">Submit text</button>
        </form>

        <div id="display">
            <!-- holding pattern stuff for tests -->
            <ol>{{#results}}
                <li>
                    Test
                    Document name: {{documentName}}</br>
                    Virus name: {{virusName}}</br>
                    Likelihood your text has a virus: {{similarity}}
                </li>
                {{/results}}</ol>
        </div>
    </body>
</html>