<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DNA Sequencing</title>
</head>
    <body>

        <h3>Text to DNA Sequence Converter</h3>

        <div id="DNA-Info">
            <p>
                DNA is comprised of four nucleotides, A,C, G, and T.

                What this website does is convert a text file of your choice to a DNA sequence,
                then compare it to known virus DNA sequences. Depending on how great the similarities are,
                it will tell you if your text document has a "virus" or not.
            </p>
        </div>

        <form action ="/upload" enctype="multipart/form-data" method="post">
            <input type="file" name="document"/><br/>
            <button type="submit">Upload a document</button>
        </form>

        <form id="pasteBox" action="/paste" enctype="text/plain" method="post">
            <input type="text" name="text"/><br/>
            <button type="submit">Submit text</button>
        </form>

        <div id="display">
            <!-- holding pattern stuff for tests -->
            {{#results}}{{.}}{{/results}}
        </div>
    </body>
</html>